:root{
    --buttonColor: #4d3e42;
    --buttonHoverColor: #453839;
    --buttonTextColor: #000000;
    --backgroundColor:#f2f0ef
    --textBackgroundColor: rgba(255,255,255,0.6);
    --textColor: #000000;
    --shadowColor: rgba(0,0,0,0.3);
    --navShadowColor: rgba(0,0,0,0.9);
}

body{
    margin:0px;
    background-color: var(--backgroundColor);
    color:var(--textColor);
}

nav.top{
    display: flex;
    position:sticky;
    top:20px;
    z-index:100;
    background-color: var(--buttonColor);
    margin:40px 40px 40px 40px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    box-shadow:0px 0px 90px 5px var(--navShadowColor);
    overflow:hidden;
}

a.top-buttons{
    color:var(--buttonTextColor);
    text-decoration: none;
    flex: 1;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    display:block
}

a.top-buttons:hover{
    background-color: var(--buttonHoverColor);
}

header{
    margin-left: 80px;
    font-size: 40px;
    padding:5px;
    max-width: 900px;
    text-decoration: underline;
    margin-bottom: 20px;
}

span.body-span{
    display:flex;
    justify-content:flex-start;
}

.body{
    max-width: 900px;
    font-size: 25px;
    padding: 10px;
    margin-left: 100px;
    background-color: var(--textBackgroundColor);
    color:var(--textColor);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    display:inline-block;
    box-shadow:0px 0px 20px 5px var(--shadowColor);
}

#coffee{
    display:flex;
}

a.social{
    font-size:25px;
    text-decoration: none;
    color: var(--textColor);
}

li.li-acad{
    padding:5px;
}

div#cards-content{
    margin-left:100px;
    display:grid;
    grid-template-columns:50% 50%;
    max-width:1000px;
}

.cards-title{
    margin-left:80px;
    font-size:40px;
    max-width:900px;
}

.\\projects-header\\{
    margin-left:80px;
    font-size: 40px;
    max-width:900px;
}

.\\projects-para\\{
    max-width: 900px;
    font-size: 25px;
    padding: 10px;
    margin-left: 100px;
    background-color:rgb(255,255,255,0.6);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    display:inline-block;
    box-shadow:0px 0px 20px 5px rgba(0,0,0,0.3);
}

#\\endpoints-list\\{
    padding:30px;
}

#hyperlink{
    text-decoration: underline;
    color: black;
}

#github-card{
    width:400px;
    height:400px;
    margin-left:50px;
    position:relative;
    background-image: url("/Akshansh/images/stock editor.jpg");
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    text-decoration: none;
    color:black;
    z-index:0;
    margin-top: 100px;
}

#name{
    position:absolute;
    top: 5%;
    left: 5%;
    font-size: 40px;
    z-index:1;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

#brown-strip{
    position:absolute;
    bottom:0%;
    left:0%;
    width:400px;
    height:100px;
    background-color:var(--buttonColor);
    z-index: 1;
    border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
}

#github-projects{
    position: absolute;
    height:50px;
    bottom:75px;
    left: 75px;
    z-index:2;
}

#menu{
    display:none;
}

.theme-button{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: var(--buttonColor);
    border:0;
    color: var(--buttonTextColor);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin-right:20px;
    box-shadow:0px 0px 90px 5px var(--navShadowColor);
}

#parent{display:flex}

#back{margin-right:100px}

@media screen and (max-width:1000px){
    hr{display:none}
    p.body-tail{display:none}
    a.top-buttons{display:none}
    a#menu{width:20%; display:block}
    header{margin-left:5px; margin-right:5px}
    span.body-span{margin-left:5px; margin-right:5px}
    .body{margin-left:5px; margin-right:5px;border-top-left-radius: 20px}
    .\\projects-para\\{margin-left:5px; margin-right:5px}
    .\\projects-header\\{margin-left:5px; margin-right:5px}
    .cards-title{margin-left:5px; margin-right:5px}
    div#cards-content{margin-left:5px; margin-right:5px; display:block}
    #socials-span{display:block}
    #parent{display:flex}
    #back{margin:0}
    #github-card{margin:0}
}